<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Wir benötigen deinen Standort immer, um dir aktuelle Wetterdaten anzuzeigen.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Wir benötigen deinen Standort für die Wetteranzeige.</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>de</string>
        <string>en</string>
    </array>
</dict>
</plist>
